body {
    display: flex;
}

input, label {
    display: block;
}

.display {
    height: 100vh;
    width: 40vw;
    background-image: url("images/mountains.jpg");
    background-size: cover;
}


.content {
    height: 100vh;
    width: 60vw;
    background-color: rgba(0, 58, 111, 0.9);
}

.content p{
    color: white;
}

.contentDiv {
    width: 100%;
    height: 33%;
}

#formDiv {
    background-color: whitesmoke;
}

#formDiv h1 {
    color:rgba(0, 58, 111);
}

#formDiv label{
    color:rgba(0, 58, 111);
}

.formSection {
    display: flex;
}

.logo {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    margin-top: 300px;
    align-content: center;
    justify-content: center;
}

.logo p{
    color: white;
    font-size: 48px;
}