body {
    border-style: solid;
    display: flex;
}

.display {
    border-style: solid;
    height: 100vh;
    width: 40vw;
}

.content {
    border-style: solid;
    height: 100vh;
    width: 60vw;
}

.contentDiv {
    width: 100%;
    height: 33%;
    border-style: solid;
}